.links-of-blogroll { font-size: 13px; }

.links-of-blogroll-title {
  margin-top: 20px;
  font-size: 14px;
  font-weight: $font-weight-bold;
}
.links-of-blogroll-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.links-of-blogroll-item {
  padding: 2px 10px;
  text-align: left;
  margin: 2px 2px 2px 30px;

  a {
    max-width: 280px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.links-item-img {
  margin: 0;
  padding: auto;
  display: inline-block;
  width: 25px !important;
  /* 头像圆形 */
  border-radius: 80px;
  -webkit-border-radius: 80px;
  -moz-border-radius: 80px;
  box-shadow: inset 0 -1px 0 #333sfs;
  /* 鼠标经过头像旋转360度 */
  -webkit-transition: -webkit-transform 1.0s ease-out;
  -moz-transition: -moz-transform 1.0s ease-out;
  transition: transform 1.0s ease-out;
}

img:hover {
  /* 鼠标经过停止头像旋转
  -webkit-animation-play-state:paused;
  animation-play-state:paused;*/
  /* 鼠标经过头像旋转360度 */
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}