// Custom styles.
// 修改背景图片
body {
    background:url(https://source.unsplash.com/random/1600x900?wallpapers);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%;
}

// 顶部阅读进度条
.top-scroll-bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
    width: 0;
    height: 2px;
    background: #6d6d6d;
}

// 修改主体透明度
.main-inner {
  background: #fff;
  opacity: 0.8;
}

// 修改菜单栏透明度
.header-inner {
  opacity: 0.8;
}

.post {
   margin-top: 3px;
   margin-bottom: 5px;
   padding: 5px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }

.tag-cloud-tags {
  text-align:center;
}

.tag-cloud-tags a {
  margin:auto;
  padding: 10px 30px;
  word-break:keep-all;
  border-bottom: 1px solid blue;
  white-space: nowrap;
}

.tag-cloud-tags a:hover {
  font-style: italic;
  border-bottom: 2px solid green;
  font-size: 25px !important;
  color: #22323a;
  text-decoration: none;
}

.tag-cloud-tags a::before {
  content:"";
  position:absolute;
  background:#08c;
  -webkit-transition:width .3s ease;
  transition:width .3s ease
}